*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.section-padding {
  padding: 5em 0;
}

.nav {
  position: absolute;
  top: 30px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.nav__logo {
  width: 80px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 0.5em;
}

.nav__list-item {
  margin: 0 0.3em;
  font-size: 1.4rem;
}

.nav__list-item a {
  text-decoration: none;
  color: white;
}

.header {
  min-height: 100vh;
  background: url("../img/bg-curvy-mobile.svg"), #1c2431;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 800px);
      grid-template-columns: minmax(300px, 800px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7em 0;
}

.header__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}

.header__box-img img {
  width: 80%;
}

.header__box-info {
  text-align: center;
  color: white;
  padding: 0 1em;
}

.header__heading {
  font-size: 2.5rem;
  line-height: 1.6em;
  font-family: "Raleway", sans-serif;
}

.header__text {
  margin-top: 3em;
  font-size: 1.4rem;
  line-height: 1.8em;
}

.header__button {
  margin-top: 3em;
  padding: 1em 5em;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#339ecc), to(#65e2d9));
  background-image: linear-gradient(to right, #339ecc, #65e2d9);
  color: white;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.main {
  background-color: #181f2a;
}

.benefits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.benefits .benefit__card {
  margin: 2.5em auto;
  padding: 0 1.5em;
}

.benefits .benefit__heading, .benefits .benefit__text {
  color: white;
  margin-bottom: 1em;
}

.benefits .benefit__heading {
  font-family: "Raleway", sans-serif;
  font-size: 2.4rem;
}

.benefits .benefit__img {
  margin-bottom: 2em;
}

.productive {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productive__box-img {
  margin-bottom: 3em;
}

.productive__box-img img {
  width: 100%;
  max-width: 500px;
}

.productive__box-info {
  padding: 0 1em;
}

.productive__heading, .productive__text {
  color: white;
  margin-bottom: 2em;
}

.productive__heading {
  font-family: "Raleway", sans-serif;
}

.productive__link {
  position: relative;
  display: inline-block;
  color: #65e2d9;
  text-decoration: none;
}

.productive__link::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #65e2d9;
}

.testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 600px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15em;
}

.testimonials__card {
  position: relative;
  background-color: #202a3c;
  margin: 2em 1em;
  padding: 2em 1em;
}

.testimonials__card .quotation {
  position: absolute;
  top: -45px;
  left: 0;
  width: 80px;
  height: 80px;
  background-image: url("../img/bg-quotes.png");
  background-repeat: no-repeat;
}

.testimonials__text {
  font-size: 1.3rem;
  line-height: 1.8em;
  margin-bottom: 2em;
  color: white;
}

.testimonials__box-author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 140px;
      grid-template-columns: 60px 140px;
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
}

.testimonials__author-name, .testimonials__author-role {
  color: white;
  font-family: "Raleway", sans-serif;
}

.testimonials__author-name {
  margin-top: 0.2em;
}

.testimonials__author-role {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 1.2rem;
  opacity: 0.6;
}

.testimonials__author-img {
  width: 50px;
  border-radius: 50%;
}

.footer {
  position: relative;
  background-color: #0b1523;
}

.footer__box-email {
  position: absolute;
  top: -150px;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 900px;
  padding: 3em 1em;
  background-color: #1c2431;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}

.footer__box-email-heading, .footer__box-email-text {
  color: white;
  margin-bottom: 1.5em;
}

.footer__box-email-heading {
  font-family: "Raleway", sans-serif;
}

.footer__box-email-text {
  font-size: 1.4rem;
  line-height: 1.6em;
  max-width: 700px;
  margin: 0 auto 1.5em auto;
}

.footer__box-email-input {
  padding: 1em 2em;
  border-radius: 40px;
}

.footer__box-email-input::-webkit-input-placeholder {
  opacity: 0.5;
}

.footer__box-email-input:-ms-input-placeholder {
  opacity: 0.5;
}

.footer__box-email-input::-ms-input-placeholder {
  opacity: 0.5;
}

.footer__box-email-input::placeholder {
  opacity: 0.5;
}

.footer__box-email-button {
  padding: 0.8em 0;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#339ecc), to(#65e2d9));
  background-image: linear-gradient(to right, #339ecc, #65e2d9);
  color: white;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.footer__box-email-input, .footer__box-email-button {
  width: 250px;
  margin-bottom: 1.5em;
}

.footer__box {
  position: relative;
  padding-top: 350px;
  padding-left: 1em;
}

.footer__box-contact-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 200px;
      grid-template-columns: 30px 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  color: white;
}

.footer__box-contact-item i {
  font-size: 2rem;
}

.footer__box-contact-item:nth-child(1) i {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-top: 0.5em;
}

.footer__logo {
  position: absolute;
  top: 280px;
  left: 20px;
}

.footer__list {
  padding: 1.5em 0;
  list-style: none;
}

.footer__list-item {
  padding: 0.5em 0;
}

.footer__list-item a {
  text-decoration: none;
  color: white;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.footer__socials-item {
  margin: 0 0.5em;
  padding: 0.8em;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__box-img img {
    width: 100%;
    max-width: 700px;
  }
  .header__heading {
    font-size: 4rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .nav__list-item {
    margin: 0 1em;
    font-size: 1.6rem;
  }
  .nav__logo {
    width: 120px;
  }
  .benefits {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .benefits .benefit__card {
    max-width: 400px;
  }
  .productive {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .productive__box-info {
    padding-right: 3em;
  }
  .productive__box-img {
    padding-left: 2em;
  }
  .footer__box-email-input {
    width: 400px;
  }
  .footer__box-email-button {
    width: 200px;
    margin-left: 1em;
  }
  .footer__box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-top: 250px;
  }
  .footer__logo {
    top: 170px;
  }
  .footer__socials-item {
    height: 40px;
  }
}

@media (min-width: 992px) {
  .header {
    background-image: url("../img/bg-curvy-desktop.svg");
    background-size: 100%;
  }
  .benefits .benefit__heading {
    font-size: 2.8rem;
  }
  .benefits .benefit__text {
    font-size: 1.6rem;
  }
  .productive__heading {
    margin-bottom: 1em;
    font-size: 5rem;
  }
  .footer__box-email-heading {
    margin-bottom: 1em;
    font-size: 4rem;
  }
  .footer__box-email-text {
    margin-bottom: 2em;
    font-size: 1.6rem;
  }
  .footer__box-contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (50px)[2];
        grid-template-rows: repeat(2, 50px);
  }
  .footer__box-contact-item {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .footer__box-contact-item:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer__list {
    margin-left: 3em;
  }
  .footer__socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=main.css.map */