@media (min-width: 992px) {
	.header {
		background-image: url("../img/bg-curvy-desktop.svg");
		background-size: 100%;
	}

	.benefits {
		.benefit {
			&__heading {
				font-size: 2.8rem;
			}
			&__text {
				font-size: 1.6rem;
			}
		}
	}
	.productive {
		&__heading {
			font-size: 5rem;
			margin-bottom: 1em;
		}
	}
	// .testimonials {
	// 	grid-template-columns: repeat(3, 1fr);
	// }
}
