@media (min-width: 992px) {
	.header {
		background-image: url("../img/bg-curvy-desktop.svg");
		background-size: 100%;
	}

	.benefits {
		.benefit {
			&__heading {
				font-size: 2.8rem;
			}
			&__text {
				font-size: 1.6rem;
			}
		}
	}
	.productive {
		&__heading {
			margin-bottom: 1em;
			font-size: 5rem;
		}
	}
	.footer {
		&__box-email {
			&-heading {
				margin-bottom: 1em;
				font-size: 4rem;
			}
			&-text {
				margin-bottom: 2em;
				font-size: 1.6rem;
			}
		}

		&__box {
			&-contact {
				display: grid;

				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 50px);
				&-item {
					align-items: unset;
				}
				&-item:nth-child(3) {
					grid-column: 2/3;
				}
			}
		}
		&__list {
			margin-left: 3em;
		}
		&__socials {
			justify-content: flex-start;
		}
	}
}
