@media (min-width: 768px) {
	.header {
		&__box-img {
			img {
				width: 100%;
				max-width: 700px;
			}
		}
		&__heading {
			font-size: 4rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.nav {
		&__list {
			&-item {
				margin: 0 1em;
				font-size: 1.6rem;
			}
		}
		&__logo {
			width: 120px;
		}
	}
	.benefits {
		grid-template-columns: repeat(2, 1fr);

		.benefit {
			&__card {
				max-width: 400px;
			}
		}
	}
	.productive {
		grid-template-columns: repeat(2, 1fr);

		&__box-info {
			padding-right: 3em;
		}
		&__box-img {
			padding-left: 2em;
		}
	}
	.footer {
		&__box-email {
			&-input {
				width: 400px;
			}
			&-button {
				width: 200px;
				margin-left: 1em;
			}
		}
		&__box {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			padding-top: 250px;
		}
		&__logo {
			top: 170px;
		}
		&__socials {
			&-item {
				height: 40px;
			}
		}
	}
}
